<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="EngrDevNewDbContext" connectionString="Server=59.110.155.12;initial catalog=EngrDev_New;user id=sa;password=qazwsx123%" providerName="System.Data.SqlClient"/>
  <add name="PMGDbContext" connectionString="Server=59.110.155.12;initial catalog=PMGDATABASE;user id=sa;pwd=qazwsx123%" providerName="System.Data.SqlClient"/>
</connectionStrings>
