
@{
    ViewBag.Title = "System Message";
}

@section crumbs{
    <div>
        <span onclick="HomePage()" style="cursor:pointer;">Home</span>
        <span>/</span>
        <span>Device Mananger</span>
        <span>/</span>
        <span>System Message</span>
    </div>
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    .selectOption {
        height: 24px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding-left: 5px;
    }
</style>
<div id="mainContent" class="layui-form">

    <div id="about-div-device">

        <div class="row">

            <div class="col-sm-4 col-sm-offset-8" style="font-weight:bold;padding: 15px 20px 10px 8%;">
                <span>
                    Only Show
                    <select class="selectOption" onchange="search()">
                        <option value="">ALL</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15" selected="selected">15</option>
                        <option value="30">30</option>
                        <option value="60">60</option>
                    </select>
                    days
                </span>

                <input type="button" class="btn btn-danger" value="Clear Warnings" onclick="clearMessage()" style="margin-left:10px;" />
            </div>

        </div>


        <table id="about-table-deviceinfo" class="table text-center">
            <thead>
                <tr class="header-background">
                    <th>Number</th>
                    <th>ID</th>
                    <th>Device Name</th>
                    <th>Device Type</th>
                    <th>Category</th>
                    <th>Time stamp</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody id="bindData"></tbody>
        </table>

        @Html.Partial("_PartialPage")

    </div>
</div>

<script>
    var pageSize = 10;
    function search() {
        GetSelectDev();
        var pageIndex = $("#PageIndex").val();
        var load = layer.load(0);
        $.ajax({
            url: "@Url.Content("~/Device/GetDeviceAlertMsg")",
            data: {
                "pmgId": $("#hidSelectCurrentPMGID").val(),
                "daylimit": $(".selectOption").val(),
                "pageIndex": pageIndex,
                "pageSize": pageSize
            },
            dataType: 'json', type: "POST",
            success: function (result) {
                if (load)
                    layer.close(load);
                $("#total").html(result.iCount);
                var pageCount = result.pageCount == 0 ? 1 : result.pageCount;
                $("#divPagination").jqPaginator({
                    totalPages: parseInt(pageCount),
                    visiblePages: 10,
                    currentPage: parseInt(pageIndex),
                    onPageChange: function (num, type) {
                        $('#PageIndex').val(num);
                        if ($('#divPagination .active').eq(0).attr('jp-data') !== num.toString()) {
                            search();
                        }
                    }
                });
                var html = "";
                if (result.list.length > 0) {
                    for (var i = 0; i < result.list.length; i++) {
                        html += '<tr>' +
                                  ' <td class="text-center">' + result.list[i]._row_number_ + '</td>' +
                                  ' <td class="text-center">' + result.list[i].DeviceID + '</td>' +
                                  ' <td class="text-center">' + result.list[i].PMDName + '</td>' +
                                  ' <td class="text-center">' + result.list[i].ShowDeviceType + '</td>' +
                                  ' <td class="text-center">' + result.list[i].CategoryName + '</td>' +
                                  ' <td class="text-center">' + result.list[i].ShowTimestamp + '</td>' +
                                  ' <td class="text-center">' + result.list[i].Message + '</td>';
                        html += '</tr>';
                    }
                } else {
                    html += '<tr><td class="text-center" colspan="7">No data</td></tr>';
                }

                $("#bindData").html(html);
            }
        });
    }

    search();

    function clearMessage() {
        var pmgId = $("#hidSelectCurrentPMGID").val();
        if (!pmgId)
        {
            LayerAlert("Please choose a device first");
            return false;
        }
        layer.confirm('Are you sure to clear all warnings?', {
            btn: ['OK', 'No'], title: false, closeBtn: 0,offset: ['35%', '45%'] 
        }, function () {
            $.ajax({
                url: "@Url.Content("~/Device/DeleteAllWarning")",
                data: {
                    "pmgId": $("#hidSelectCurrentPMGID").val(),
                },
                dataType: 'json', type: "POST",
                success: function (result) {
                    LayerMsg('Cleared Successfully!', { icon: 1 });
                    search();
                }
            });

        }, function () {
        });
    }
</script>
