
@{
    ViewBag.Title = "User List";
}

@section crumbs{
    <div>
        <span onclick="HomePage()" style="cursor:pointer;">Home</span>
        <span>/</span>
        <span>Administration</span>
        <span>/</span>
        <span>User</span>  
    </div>
}


<div id="mainContent" class="layui-form">

    <div id="about-div-device">
        <table id="about-table-deviceinfo" class="table text-center">
            <thead>
                <tr class="header-background">
                    <th>ID</th>
                    <th>User Name</th>
                    <th>Active Flag</th>
                    <th>Add Time</th>
                </tr>
            </thead>
            <tbody id="bindData"></tbody>
        </table>

        @Html.Partial("_PartialPage")

    </div>
</div>

<script>
    var pageSize = 10;
    function search() {
        var pageIndex = $("#PageIndex").val();
        $.ajax({
            url: "@Url.Content("~/User/GetUserList")",
            data: {
                "pageIndex": parseInt(pageIndex),
                "pageSize": pageSize
            },
            dataType: 'json', type: "POST",
            success: function (result) {

                $("#total").html(result.iCount);
                var pageCount = result.pageCount == 0 ? 1 : result.pageCount;
                $("#divPagination").jqPaginator({
                    totalPages: parseInt(pageCount),
                    visiblePages: 10,
                    currentPage: parseInt(pageIndex),
                    onPageChange: function (num, type) {
                        $('#PageIndex').val(num);
                        if ($('#divPagination .active').eq(0).attr('jp-data') !== num.toString()) {
                            search();
                        }
                    }
                });
                var html = "";
                if (result.list.length > 0) {
                    for (var i = 0; i < result.list.length; i++) {
                        html += '<tr>' +

                                  ' <td class="text-center">' + result.list[i].ID + '</td>' +
                                  ' <td class="text-center">' + result.list[i].UserName + '</td>' +
                                  ' <td class="text-center">' + result.list[i].ShowActive + '</td>' +
                                  ' <td class="text-center">' + result.list[i].AddTime + '</td>';
                        html += '</tr>';
                    }
                } else {
                    html += '<tr><td class="text-center" colspan="4">No data</td></tr>';
                }

                $("#bindData").html(html);
            }
        });
    }

    search();
</script>