
<input type="hidden" value="" id="hidSelectCurrentPMGID"/>

<script>
    function initDevice() {
        var _html = '';
        $.ajax({
            url: "@Url.Content("~/Home/GetPMGDeviceList")",
            data: {},
            dataType: 'json', type: "POST",
            success: function (result) {
                if (result.code == 0) {
                    for (var i = 0; i < result.data.length; i++) {
                        var item = result.data[i];
                        var Connection = item.Connection == 1 ? "online" : "offline";
                        _html += '<li><a  onclick="SetSelectDev(\'' + item.IMSI + '\')" data-imsi="' + item.IMSI + '" title="' + item.PMDName + '">' + CuteStr(item.PMDName, 10) + '<label class="connection">(' + Connection + ')</label></a></li>';
                    }
                    $(".MenuDeviceList").html(_html);
                } else {
                    $(".MenuDeviceList").html('');
                }
            }
        });
    }

    function SetSelectDev(imsi) {
        $.ajax({
            url: "@Url.Content("~/Home/SetSelectedPMGDev")",
            data: { "imsi": imsi },
            dataType: 'json', type: "POST",
            success: function (result) {
                //if (result.code == 0) {
                //    $("#hidSelectCurrentPMGID").val(result.model.PMD_ID);
                //    $("#left_layout .current_selected").find(".dev").html(result.model.ShowDeviceType + '/ ' + result.model.PMDName);
                //    $("#left_layout .current_selected").show();
                //} else {
                //    $("#hidSelectCurrentPMGID").val('');
                //    $("#left_layout .current_selected").find(".dev").html('');
                //    $("#left_layout .current_selected").hide();
                    
                //}
                window.location.reload();
            }
        });
    }

    function GetSelectDev() {
        $.ajax({
            url: "@Url.Content("~/Home/GetSelectedPMGDev")",
            data: {},
            dataType: 'json', type: "POST",
            success: function (result) {
                if (result.code == 0) {
                    $("#hidSelectCurrentPMGID").val(result.model.PMD_ID);
                    $("#left_layout .current_selected").find(".dev").html(result.model.ShowDeviceType + '/ ' + result.model.PMDName);
                    $("#left_layout .current_selected").show();
                } else {
                    $("#hidSelectCurrentPMGID").val('');
                    $("#left_layout .current_selected").find(".dev").html('');
                    $("#left_layout .current_selected").hide();
                }
            }
        });
    }

    GetSelectDev();
</script>
