<link href="~/Content/PagedList.css" rel="stylesheet" />
<script src="~/Scripts/jqPaginator.js"></script>

<div class="customBootstrap" style="float:right;position:relative;top:8px;">
    <ul id="divPagination" class="pagination" style="margin:10px 0px;"></ul>
    <div style="float: right;position: relative;top: 16px; font-size:14px;font-weight:bold;margin-left: 5px;">Totals of&nbsp;<span id="total" style="color:red">0</span>&nbsp;record </div>
</div>
<input type="hidden" id="PageIndex" value="1" />
